html {
    font-size:10px;
}



.flutuante {
    font-size:18px;
    background-color: aqua;
    float: left;
    width: 100px;
    height: 100x;
    padding: 10px;
    margin-left: 10px;
    margin-right: 20px; 
}


.d2{
font-size: 17px;
width: 90vw;
height:30vh;
background-color: aquamarine;

}