* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #000000;
}

.logo {
    height: 45px;
}

.main-header {
    background: #0e0e0e;
    color: #070707;
    padding: 1rem 2rem;
    
    
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.main-nav ul li a:hover {
    background-color: #ecd5d5;
    border-radius: 5px;
}
/*parte do kleber*/
.main { 
    display: flex;
    justify-content: center;
}

.card {
    margin: 50px;
    background-color: #d4cece;
    color: #202020;
    width: 460px;
    height: 670px;
    border-radius: 10px;
    text-align: center;
}

    .card>img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
 
    .card>h3 {
        font-size: 20px ;
        padding-top: 15px;
    }
 
    .card>p {
        font-size: 15px ;
        padding: 20px 20px;
    }

    .btn { 
        font-size: 17;
        padding: 10px 50px;
        border: none;
        background-color: #202020;
        color: #fff;
        border-radius: 10px;

    }
    

  /*aqui termina a parte do kleber*/





.main-footer {
    background: #070707;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 3rem;
    font-size: 0.9rem;
}

.social-links a {
    color: #ffc107;
    text-decoration: none;
    margin: 0 0.5rem;
}


@media (max-width: 600px) {
    .main-header {
        flex-direction: column; 
    }

    .main-nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }
    
    .main-nav ul li a {
        padding: 0.5rem;
    }
}